.App {
  display: flex;
  flex-direction: column;
  justify-content:first baseline; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  background-image: url('./photo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 150vh;
  background-color:#12ad50;
}

nav ul {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  list-style-type: none;
  padding: 0;
  
}

nav ul li {
  margin: 0 10px; /* Add some margin between the buttons */
}

.main-content {
  padding: 20px;
}

.contact-info {
  background-color: rgba(270, 270, 270, 2.0);
  padding: 20px;
  
}
